<p id="notice"><%= notice %></p>
<center>
  <h3><%= @note.title %>
    <br>
    <small>created at <%= @note.created_at.to_date%> by <%= @note.user.email%></small>
  </h3>
</center> 

<div class="panel panel-default">
  <p><div class="panel-body"><%= @note.body%></p></div>
</div>



<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
